.modalcontent {
  width: 600px;
  height: 150px;
  background-color: rgb(233, 237, 236);
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 30%;
}
.modelBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modelBox span {
  font-size: 24px;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 50px;
}
.buttonCancel,
.buttonConfirm {
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(13, 63, 13);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #ffff;
}
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
/* .modalcontent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
} */

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.crossbutton {
  position: absolute;
  right: 5%;
  width: 30px;
  cursor: pointer;
  font-size: 24px;
}
