.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.headingMenu span {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 600;
}
/* .headingMenu h1::after {
  display: block;
  content: "";
  width: 10%;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
} */

.headingMenu h1 {
  position: relative;
}

.container ul {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.container li {
  margin-left: 80px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: rgb(3, 3, 107);
  padding: 30px;
}

.aboutborder {
  display: block;
  width: 90px;
  height: 5px;
  background: rgb(3, 3, 107);
  margin: 5px auto;
}

/* Optional CSS to center align the heading text*/
.about h1,
.about h2 {
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover,
a:active {
  color: rgb(3, 3, 107);
}
.active {
  background-color: rgb(186, 186, 188);
  padding: 2px 12px;
  border-radius: 3px;
}
